:root {
    /* Tema Escuro */
    --background-color: #000814;
    --background-second-color: #212529;
    

    /* Tema Claro */
    --background-color-light: #f9f7f3;
    --background-second-light: #f0ebd8;

    /* Temas spans */
    --color-tema-01: #7209b7;
    --color-tema-03: #00f5d4;
    --color-tema-04: #da891e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 800ms;
    -webkit-tap-highlight-color: transparent;
    
}

main {
    background-color: var(--background-color);
    height: 100%;
    width: 100vw;
    transition: all 300ms;
    overflow-y: hidden;
}

body{
    overflow-x: hidden;
}
section{
    overflow-x: hidden;
    overflow-y: hidden;
}

html {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    overflow-x: hidden;
    scroll-behavior: smooth;
    color: var(--background-color-light);
    
}

/* ADICIONANDO TOOLTIP */
.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    height: 30px;
    background-color:var(--background-color);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    font-weight: 400;
    position: absolute;
    z-index: 1;
    left: -70%;
    top: 5px;
    margin-left: -120px; /* Centraliza a dica de ferramenta */
    opacity: 0;
    transition: opacity 0.3s;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

/* MIDIAS SOCIAIS */
aside div figure {
    display: flex;
    flex-direction: column;
    max-width: 63px;
    border-radius: 40px;
    padding: 10px;
    position: fixed;
    top: 750px;
    right: 10px;
    z-index: 1000;
    background-color: rgba(164, 164, 164, 0.213);
}

aside div figure img {
    width: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}

aside div figure img:hover {
    transform: scale(1.1);
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
}

::-webkit-scrollbar {
    width: 15px;
}

/* BARRA LATERAL MENU */

.nav-side {
    background-color: var(--background-second-color);
    width: 80px;
    height: 100vh;
    padding-top: 40px;
    border-right: 2px solid var(--color-tema-03);
    position: fixed;
    transition: all 300ms ease-in-out;
    overflow: hidden;
    z-index: 10;
}

.nav-side.expand {
    width: 300px;
    box-shadow: 900px 0px 800px 900px rgba(0, 0, 0, 0.8);
}

.btn-expand {
    width: 100%;
}

.btn-expand img {
    width: 50px;
    cursor: pointer;
    margin-left: 15px;
    margin-bottom: 20px;
}

ul {
    height: 100%;
    list-style-type: none;
}

ul li.active {
    background-color: rgba(128, 128, 128, 0.368);
}

ul li.icon-menu a {
    color: var(--color-tema-03);
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 30px;
}

ul li.icon-menu a .txt-link {
    margin-left: 100px;
    transition: all 800ms ease-in-out;
    font-weight: 400;
    opacity: 0;
}

.nav-side.expand .txt-link {
    margin-left: 50px;
    opacity: 1;
}

ul li.icon-menu a .icon i {
    font-size: 25px;
    margin-left: 20px;
}

.nav-side li:hover {
    background-color: rgba(128, 128, 128, 0.368);
}

ul li.icon-menu {
    transition: all 100ms ease-in-out;
}

/* TEMAS */

.nav-theme {
    position: fixed;
    top: 300px;
    right: 20px;
}


.nav-theme {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-45deg);
    z-index: 1000;
}

.nav-theme .btn-colors,
span button {
    background-color: rgba(255, 255, 255, 0.213);
    color: var(--background-color);
    height: 45px;
    border: none;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.nav-theme .btn-colors {
    font-size: 25px;
    z-index: 10;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.nav-theme .btn-colors:hover {
    transform: scale(1.1);
}




.nav-theme span button {
    transition: all 300ms ease-in-out;
    cursor: pointer;
}

.nav-theme span button i {
    font-size: 20px;
}

.nav-theme span {
    position: fixed;
    transition: all 300ms ease-in-out;
    transform: translateY(0px);
    opacity: 0;
}

.nav-theme.open span {
    transform: rotate(calc(var(--i) * (360deg/8))) translateY(80px);
    opacity: 1;
}

.nav-theme span button:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 50px var(--background-color)
}


/* SEÇAO BOAS VINDAS */

.aligment-sections {
    margin: 0 auto;
    height: 100vh;
}

.welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 110vh;
}

.welcome h1 {
    color: var(--background-color-light);
    font-size: 70px;
    max-width: 1000px;
    width: 100%;
    margin-top: -280px;
}

.get-theme {
    color: var(--color-tema-03);
}

.next-page i {
    color: var(--color-tema-03);
    font-size: 40px;
    position: absolute;
    align-items: center;
    width: 100%;
    margin-left: -15px;
    top: 800px;
    animation: rotate-self 300ms ease-in-out alternate infinite;
}

@keyframes rotate-self {
    0% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0px);
    }
}

/* SEÇÃO SOBRE MIM */

.about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 110vh;
}

.about-me h1 {
    font-size: 60px;
    margin-bottom: 10px;
    margin-top: -70px;
}

.information {
    height: 70%;
    width: 100%;
    max-width: 1150px;
    display: flex;
    border-radius: 50px;
    border: 2px solid var(--color-tema-03);
}

.my-profile {
    background-color: var(--background-second-color);
    width: 50%;
    height: 100%;
    border-radius: 50px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-profile {
    background-image: url(/assets/img/foto-perfil.JPG);
    background-position: center;
    background-size: cover;
    width: 80%;
    height: 80%;
    border-radius: 50px;
    box-shadow: 0px 0px 50px var(--background-color);
}

.information-about-me {
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.information-about-me h1 {
    font-size: 35px;
    margin-bottom: 5px;
}

.information-about-me h2 {
    font-size: 25px;
    margin-bottom: 30px;
}

.information-about-me p {
    max-width: 640px;
    margin: 5px 0 10px 0;
    font-size: 20px;
}

.information-about-me footer {
    margin-top: 120px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.information-about-me footer .btn {
    width: 100%;
    max-width: 180px;
    font-size: 20px;
    padding: 15px;
    font-weight: bold;
    background-color: var(--color-tema-03);
    border-radius: 40px;
    text-align: center;
    text-decoration: none;
    color: var(--background-color-light);
    box-shadow: 0px 0px 5px var(--background-color-light);
    transition: 300ms;
}

.information-about-me footer .btn:hover {
    background-color: #a1fff2;
    color: #65a0ae;
}

p.phrase,
.phrase .get-theme {
    font-style: italic;
    font-size: 15px;
}

.information-about-me ul {
    margin-top: 10px;
    margin-bottom: 10px;
    height: auto;
}

.information-about-me li:before {
    content: "\2022";
    color: var(--color-tema-03);
}

.information-about-me li {
    margin-top: 5px;
}

.information-about-me .leisure {
    font-size: 17px;
}

/* MINHAS HABILIDADES */

.skills h1 {
    font-size: 60px;
    margin-bottom: 10px;
}

.skills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.information-skill {
    height: 50%;
    width: 100%;
    max-width: 1250px;
    border-radius: 50px;
    padding: 90px 60px 0px 60px;
    border: 2px solid var(--color-tema-03);
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    display: grid;
    flex-direction: column;
    grid-template-columns: 1fr 1fr;
}

.skill-bar {
    height: 14px;
    background-color: var(--background-second-color);
    border-radius: 20px;
    width: 100%;
    max-width: 550px;
    position: absolute;
}

.skill-per {
    height: 14px;
    background-color: var(--color-tema-03);
    border-radius: 20px;
    position: relative;
}

.skill-per::before {
    content: attr(per);
    position: absolute;
    background-color: var(--background-color-light);
    color: var(--background-color);
    border-radius: 20px;
    font-size: 12px;
    padding: 5px;
    top: -43px;
    right: -15.8px;
}

.skill-per::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--background-color-light);
    top: -26px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
}

.text-skills {
    display: grid;
    flex-direction: column;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20px;
}

.text-skills p {
    max-width: 400px;
    font-size: 18px;
    font-weight: 400;
    margin-left: 60px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.text-skills img {
    width: 40px;
    margin-left: -43px;
}


/* SEÇÃO PROJETOS */
.myprojects{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.myprojects h1{ 
    font-size: 60px;
    margin-bottom: 20px;
}
.slide-container{
    max-width: 1120px;
    width: 100%;
    border-radius: 25px;
}
.card-image{
    position: relative;
    height: 160px;
    width: 250px;
    z-index: 200;
}
.image-content,
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}
.image-content{
    row-gap: 5px;
    position: relative;
    padding: 25px 0;
}
.overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border: 3px solid var(--color-tema-03);
    border-radius: 25px;
}

.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
}
.card{
    border-radius: 25px;
    background-color: var(--background-second-color);
}
.slide-content{
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.113);
    border-radius: 40px;
}
.aligment-acess { 
    display: flex;
    width: 100%;
    height: 160px;
    align-items: center;
    margin-top: -163px;
    justify-content: center;
    opacity: 0;
    transition: all 300ms ease-in-out;
    position: absolute;
    z-index: 1000;
    border-radius: 25px;
}
.aligment-acess:hover {
    background-color: rgba(0, 0, 0, 0.339); 
    opacity: 1;

}
.aligment-acess:focus {
    background-color: rgba(0, 0, 0, 0.339); 
    opacity: 1;

}
.aligment-acess img { 
    cursor: pointer;
    margin-left: 46px;
    margin-right: 46px;
}
.aligment-acess img:hover { 
    transform: rotateY(360deg);
}

.aligment-acess img:focus { 
    transform: rotateY(360deg);
}

.skill-util img:hover{
    transform: rotateY(360deg);
}
.skill-util img{
    margin-left: 5px;
    margin-right: 5px;
}
.skill-util{
    margin-top: 10px;
}
.description{
    margin-top: 10px;
    text-align: center;
    font-weight: 400;
}

.swiper {
    margin: 100px auto;
    width:680px;
    height: 600px;
  }

/* SEÇÃO CONTATO */

.contact-me {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.contact-me h1 {
    font-size: 60px;
    margin-bottom: 20px;
}

form {
    display: grid;
}

form label {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;
    cursor: pointer;
    font-weight: 400;
    color: var(--color-tema-03);
}

form label:hover {
    color: #a1fff2;
}

form input {
    width: 600px;
    height: 50px;
    font-size: 19px;
    padding-left: 20px;
    border-radius: 50px;
    border: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

form input:focus {
    outline: none;
    box-shadow: 0px 0px 20px var(--background-color)
}

form textarea {
    width: 600px;
    height: 300px;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    padding: 25px;
    border-radius: 50px;
    border: 0;
    font-weight: 400;
    resize: none;
}

#name {
    text-transform: capitalize;
}

form textarea:focus {
    outline: none;
    box-shadow: 0px 0px 20px var(--background-color)
}

form button {
    width: 100%;
    max-width: 180px;
    font-size: 20px;
    padding: 15px;
    font-weight: bold;
    background-color: var(--color-tema-03);
    border-radius: 40px;
    text-align: center;
    cursor: pointer;
    border: 0;
    margin-top: 20px;
    text-decoration: none;
    color: var(--background-color-light);
    box-shadow: 0px 0px 5px var(--background-color-light);
    transition: 300ms;
}

form button:hover {
    box-shadow: 0px 0px 50px var(--background-color);
    color: var(--background-second-color);
}

/* EFEITO SCROLL */
.hidden {
    opacity: 0;
    filter: blur(15px);
    transition: all 2s;
    transform: translateX(-100%);
}

.show {
    opacity: 1;
    filter: blur(0px);
    transition: all 2s;
    transform: translateX(0%);
}

/* RESPONSIVO */

@media only screen and (max-width: 767px){

    /* SIDE BAR */
     .nav-side {
        background-color: var(--background-second-color);
        width: 50px;
        height: 100vh;
        padding-top: 30px;
    }
    
    .nav-side.expand {
        width: 210px;
    }
    
    .btn-expand img {
        width: 30px;
        margin-left: 10px;
        margin-bottom: 10px;
    }
    
    ul li.icon-menu a {
        font-size: 15px;
        padding: 10px 4%;
        margin-bottom: 15px;
    }
    
    ul li.icon-menu a .icon i {
        font-size: 20px;
        margin-left: 12px;
    }

/* WELCOMO */

.welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.welcome h1 {
    font-size: 30px;
    max-width: 290px;
    margin-left: 120px;
    margin-top: -80px;
}

.next-page i {
    font-size: 35px;
    position: absolute;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
    margin-left: 0px;
    top: 70%;
}

/* SOBRE MIM */

.about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 0px;
}

.about-me h1 {
    font-size: 40px;
    margin-left: 15%;
    margin-top: -150px;
    margin-bottom: 180px;
}

.information {
    height: 65vh;
    width: 80%;
    margin-left: 14%;
    max-width: 100%;
    display: grid;
    justify-content: center;
    align-items: start;
    margin-top: -25%;
}

.my-profile {
    width: 100%;
    height: 100%;
    margin-bottom: 100px;
    border-radius: 0px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.img-profile {
    width: 50%;
    height: 80%;
}

.information-about-me {
    padding: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.information-about-me h1 {
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 0px;
}

.information-about-me h2 {
    font-size: 13px;
    text-align: center;
    margin-bottom: 15px;
}

.information-about-me p {
    max-width: 620px;
    margin: 0px 0 0px 0;
    padding: 0px 10px;
    font-size: 8px;
}

.information-about-me footer {
    margin-top: 12px;
    display: flex;
    justify-content: center;
}

.information-about-me footer .btn {
    width: 100%;
    max-width: 110px;
    font-size: 12px;
    padding: 5px;
    margin-bottom: 20px;
}


p.phrase,
.phrase .get-theme {
    font-size: 10px;
}

.information-about-me ul {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px 10px;
}

.information-about-me li {
    margin-top: 5px;
    font-size: 10px;
}

.information-about-me .leisure {
    font-size: 10px;
}

/* HABILIDADES */
.skills h1 {
    font-size: 35px;
    margin-left: 15%;
    margin-top: 0px;
    margin-bottom: 20%;
}

.skills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}

.information-skill img {
    width: 30px;
}
.information-skill {
    height: 250px;
    max-height: 100%;
    width: 80%;
    margin-left: 14%;
    margin-top: -14%;
    max-width: 100%;
    padding: 30px 0px 30px 20px;
    font-size: 0px;
    display: grid;
    flex-direction: column;
    grid-template-columns: 1fr 1fr ;
}

.skill-bar {
    height: 0px;
    max-width: 0px;
}

.skill-per {
    height: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
}

.skill-per::before {
    border-radius: 20px;
    font-size: 10px;
    padding: 5px;
    top: -26px;
    right: -15.8px;
}

.skill-per::after {
    width: 10px;
    height: 10px;
    top: -9px;
    right: -2px;
}

.text-skills {
    display: grid;
    flex-direction: column;
    grid-template-columns: 1fr ;
    margin-top: 0px;
    padding: 5px 20px;
    margin-left: 20%;
}

.text-skills p {
    max-width: 400px;
    font-size: 10px;
    margin-left: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.text-skills img {
    width: 25px;
    margin-left: -43px;
}

/* PROJETOS */

.myprojects h1{ 
    font-size: 35px;
    margin-top: 25%;
    margin-left: 5%;
    margin-bottom: 0px;
}
.slide-container{
    max-width: 340px;
    margin-top: 20px;
}
.card-image{
    width: 150px;
}
.image-content,
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.card-wrapper{
    margin-left: -20px;
}

.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
}
.card{
    border-radius: 25px;
    background-color: var(--background-second-color);
}
.slide-content{
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.113);
    border-radius: 40px;
    margin-left: 14%;
    width: 340px;
}


/* CONTATO */


.contact-me {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.contact-me h1 {
    font-size: 40px;
    max-width: 200px;
    margin-bottom: 10px;
    margin-top: -90px;
}

form {
    display: grid;
}

form label {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    margin-left: 10%;
}


form input {
    width: 230px;
    height: 50px;
    margin-left: 6%;
    font-size: 12px;
    padding-left: 15px;
}



form textarea {
    padding: 25px;
    width: 230px;
    margin-left: 6%;
    border-radius: 15px;
    height: 120px;
    font-size: 12px;
    padding-left: 15px;
}


form button {
    width: 100%;
    max-width: 300px;
    font-size: 15px;
    padding: 7px;
    margin-top: 80px;
    margin-left: 6%;
}

/* MIDIAS */


aside div figure {
    max-width: 45px;
    border-radius: 40px;
    padding: 8px;
    position: fixed;
    top: 320px;
    right: 10px;
    z-index: 1000;
}

aside div figure img {
    width: 24px;
    margin-top: 3px;
    margin-bottom: 3px;
}

/* TEMAS */

.nav-theme {
    position: fixed;
    top: 130px;
    right: 20px;
}

.nav-theme .btn-colors,
span button {
    height: 35px;
    width: 35px;
}

.nav-theme .btn-colors {
    font-size: 17px;
}

.nav-theme span button i {
    font-size: 17px;
}


.slide-content{
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.113);
    border-radius: 40px;
    max-width: 400px;
}

}

