:root {
    /* Tema Escuro */
    --background-color: #000814;
    --background-second-color: #212529;

    /* Tema Claro */
    --background-color-light: #f9f7f3;
    --background-second-light: #f0ebd8;

    /* Temas spans */
    --color-tema-01: #7209b7;
    --color-tema-02: #70e000;
    --color-tema-03: #00f5d4;
    --color-tema-04: #da891e;
    --color-tema-05: #072ac8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background-color: var(--background-color);
    height: 100%;
    width: 100vw;
}

html {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    overflow-x: hidden;
    scroll-behavior: smooth;
    color: var(--background-color-light);
}

/* ADICIONANDO TOOLTIP */
.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    height: 30px;
    background-color: var(--color-tema-03);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    font-weight: 400;
    position: absolute;
    z-index: 1;
    left: -70%;
    top: 5px;
    margin-left: -120px; /* Centraliza a dica de ferramenta */
    opacity: 0;
    transition: opacity 0.3s;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  .nav-theme .tooltiptext {
    visibility: hidden;
    width: 120px;
    height: 40px;
    background-color: var(--color-tema-03);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    font-weight: 400;
    left: -50%;
    margin-left: -15px; /* Centraliza a dica de ferramenta */
    margin-top: 150px; /* Centraliza a dica de ferramenta */
    opacity: 0;
    transition: opacity 0.3s;
  }
/* MIDIAS SOCIAIS */
aside div figure {
    display: flex;
    flex-direction: column;
    max-width: 63px;
    border-radius: 40px;
    padding: 10px;
    position: fixed;
    top: 750px;
    right: 10px;
    z-index: 1000;
    background-color: rgba(164, 164, 164, 0.213);
}

aside div figure img {
    width: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}

aside div figure img:hover {
    transform: scale(1.1);
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-tema-03);
    border-radius: 20px;
}

::-webkit-scrollbar {
    background-color: var(--background-second-color);
    width: 15px;
}

/* BARRA LATERAL MENU */

.nav-side {
    background-color: var(--background-second-color);
    width: 80px;
    height: 100vh;
    padding-top: 40px;
    border-right: 2px solid var(--color-tema-03);
    position: fixed;
    transition: all 300ms ease-in-out;
    overflow: hidden;
    z-index: 10;
}

.nav-side.expand {
    width: 300px;
    box-shadow: 900px 0px 800px 900px rgba(0, 0, 0, 0.8);
}

.btn-expand {
    width: 100%;
}

.btn-expand img {
    width: 50px;
    cursor: pointer;
    margin-left: 15px;
    margin-bottom: 20px;
}

ul {
    height: 100%;
    list-style-type: none;
}

ul li.active {
    background-color: var(--background-color);
}

ul li.icon-menu a {
    color: var(--color-tema-03);
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 30px;
}

ul li.icon-menu a .txt-link {
    margin-left: 100px;
    transition: all 800ms ease-in-out;
    opacity: 0;
}

.nav-side.expand .txt-link {
    margin-left: 50px;
    opacity: 1;
}

ul li.icon-menu a .icon i {
    font-size: 25px;
    margin-left: 20px;
}

li:hover {
    background-color: var(--background-color);
}

ul li.icon-menu {
    transition: all 100ms ease-in-out;
}

/* TEMAS */

.nav-theme {
    position: fixed;
    top: 300px;
    right: 20px;
}

.nav-theme {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-45deg);
    z-index: 1000;
}

.nav-theme .btn-colors,
span a {
    background-color: rgba(255, 255, 255, 0.213);
    color: var(--background-color);
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.nav-theme .btn-colors {
    font-size: 25px;
    z-index: 10;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    transform: rotate(-225deg);
}

.nav-theme .btn-colors:hover {
    background-color: #b2f7fecb;
}



.nav-theme span a {
    text-decoration: none;
    transition: all 300ms ease-in-out;
}

.nav-theme span a i {
    font-size: 20px;
}

.nav-theme span {
    position: fixed;
    transition: all 300ms ease-in-out;
    transform: translateY(0px);
    opacity: 0;
}

.nav-theme.open span {
    transform: rotate(calc(var(--i) * (360deg/8))) translateY(80px);
    opacity: 1;
}

.nav-theme span a:hover {
    transform: scale(1.1);
}


/* SEÇAO BOAS VINDAS */

.aligment-sections {
    margin: 0 auto;
    height: 100vh;
}

.welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 110vh;
}

.welcome h1 {
    color: var(--background-color-light);
    font-size: 70px;
    max-width: 1000px;
    width: 100%;
    margin-top: -280px;
}

.get-theme {
    color: var(--color-tema-03);
}

.next-page i {
    color: var(--color-tema-03);
    font-size: 40px;
    position: absolute;
    align-items: center;
    width: 100%;
    margin-left: -15px;
    top: 800px;
    animation: rotate-self 300ms ease-in-out alternate infinite;
}

@keyframes rotate-self {
    0% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0px);
    }
}

/* SEÇÃO SOBRE MIM */

.about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 110vh;
}

.about-me h1 {
    font-size: 60px;
    margin-bottom: 10px;
    margin-top: -20px;
}

.information {
    height: 70%;
    background-color: var(--background-color);
    width: 100%;
    max-width: 1150px;
    display: flex;
    border-radius: 50px;
    border: 2px solid var(--color-tema-03);
}

.my-profile {
    background-color: var(--background-second-color);
    width: 50%;
    height: 100%;
    border-radius: 50px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-profile {
    background-image: url(/assets/img/foto-perfil.JPG);
    background-position: center;
    background-size: cover;
    width: 80%;
    height: 80%;
    border-radius: 50px;
    box-shadow: 0px 0px 50px var(--background-color);
}

.information-about-me {
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.information-about-me h1 {
    font-size: 35px;
    margin-bottom: 5px;
}

.information-about-me h2 {
    font-size: 25px;
    margin-bottom: 30px;
}

.information-about-me p {
    max-width: 640px;
    margin: 5px 0 10px 0;
    font-size: 20px;
}

.information-about-me footer {
    margin-top: 120px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.information-about-me footer .btn-curriculum {
    width: 100%;
    max-width: 180px;
    font-size: 20px;
    padding: 15px;
    font-weight: bold;
    background-color: var(--color-tema-03);
    border-radius: 40px;
    text-align: center;
    text-decoration: none;
    color: var(--background-color-light);
    box-shadow: 0px 0px 5px var(--background-color-light);
    transition: 300ms;
}

.information-about-me footer .btn-curriculum:hover {
    background-color: #a1fff2;
    color: #65a0ae;
}

p.phrase,
.phrase .get-theme {
    font-style: italic;
    font-size: 15px;
}

.information-about-me ul {
    margin-top: 10px;
    margin-bottom: 10px;
    height: auto;
}

.information-about-me li:before {
    content: "\2022";
    color: var(--color-tema-03);
}

.information-about-me li {
    margin-top: 5px;
}

.information-about-me .leisure {
    font-size: 17px;
}

/* MINHAS HABILIDADES */

.skills h1 {
    font-size: 60px;
    margin-bottom: 10px;
    margin-top: -20px;
}

.skills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 110vh;
}

.information-skill {
    height: 50%;
    background-color: var(--background-color);
    width: 100%;
    max-width: 1250px;
    border-radius: 50px;
    padding: 90px 60px 0px 60px;
    border: 2px solid var(--color-tema-03);
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    display: grid;
    flex-direction: column;
    grid-template-columns: 1fr 1fr;
}

.skill-bar {
    height: 14px;
    background-color: var(--background-second-color);
    border-radius: 20px;
    width: 100%;
    max-width: 550px;
    position: absolute;
}

.skill-per {
    height: 14px;
    background-color: var(--color-tema-03);
    border-radius: 20px;
    position: relative;
}

.skill-per::before {
    content: attr(per);
    position: absolute;
    background-color: var(--background-color-light);
    color: var(--background-color);
    border-radius: 20px;
    font-size: 12px;
    padding: 5px;
    top: -43px;
    right: -15.8px;
}

.skill-per::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--background-color-light);
    top: -26px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
}

.text-skills {
    display: grid;
    flex-direction: column;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20px;
}

.text-skills p {
    max-width: 400px;
    font-size: 18px;
    font-weight: 400;
    margin-left: 60px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.text-skills img {
    width: 40px;
    margin-left: -43px;
}


/* SEÇÃO PROJETOS */

.myprojects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 140vh;
}

.myprojects h1 {
    font-size: 60px;
    margin-bottom: 20px;
}

.myprojects h2 {
    text-align: center;
}

.grid-projects {
    display: grid;
    flex-direction: column;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.project {
    width: 100%;
    max-width: 700px;
    border-radius: 30px;
    display: flex;
    background-color: var(--background-second-color);
    padding: 10px;
    border: 1px solid var(--color-tema-03);
    /* box-shadow: 0 0 5px var(--color-tema-03) */
}

.grid-projects .project p {
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
}

.grid-projects .project img {
    width: 100%;
    text-align: center;
    padding: 20px;
}

.aligment-skill {
    display: grid;
    flex-direction: column;
}


.aligment {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    margin-bottom: 20px;
    margin-left: -70px;
}


.grid-projects .project a i {
    font-size: 40px;
    color: var(--background-color);
    transition: all 300ms ease-in-out;
}

.skill-used img {
    transition: all 300ms ease-in-out;
    height: 90px;
}

.skill-used img:hover {
    transform: rotateY(360deg);
}

/* SEÇÃO CONTATO */

.contact-me {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.contact-me h1 {
    font-size: 60px;
    margin-bottom: 20px;
}

form {
    display: grid;
}

form label {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;
    cursor: pointer;
    font-weight: 400;
    color: var(--color-tema-03);
}

form label:hover {
    color: #a1fff2;
}

form input {
    width: 600px;
    height: 50px;
    font-size: 19px;
    padding-left: 20px;
    border-radius: 50px;
    border: 0;
    font-weight: 400;
}

form input:focus {
    outline: none;
    /* Remove a borda padrão de foco (opcional) */
    box-shadow: 0 0 20px var(--color-tema-03);
}

form textarea {
    width: 600px;
    height: 300px;
    font-size: 20px;
    padding: 50px;
    border-radius: 50px;
    border: 0;
    font-weight: 400;
}

#name {
    text-transform: capitalize;
}

form textarea:focus {
    outline: none;
    /* Remove a borda padrão de foco (opcional) */
    box-shadow: 0 0 20px var(--color-tema-03);
}

form button {
    width: 100%;
    max-width: 180px;
    font-size: 20px;
    padding: 15px;
    font-weight: bold;
    background-color: var(--color-tema-03);
    border-radius: 40px;
    text-align: center;
    border: 0;
    margin-top: 20px;
    text-decoration: none;
    color: var(--background-color-light);
    box-shadow: 0px 0px 5px var(--background-color-light);
    transition: 300ms;
}

form button:hover {
    background-color: #a1fff2;
    color: #65a0ae;
}

/* EFEITO SCROLL */
.hidden {
    opacity: 0;
    filter: blur(15px);
    transition: all 2s;
    transform: translateX(-100%);
}

.show {
    opacity: 1;
    filter: blur(0px);
    transition: all 2s;
    transform: translateX(0%);
}
